{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}

<section id="home-head" class="work">
</section>
<section id="main-content">
	<div class="text-intro">
		<h2>Usuarios Administradores</h2>
		{% ifnotequal mensaje '' %}
		
		<div class="alert alert-success" role="alert">
			 {{mensaje}}
			</div>
	 	
	 	{% endifnotequal%}
	</div>
	<div class="columns">
		{% for a in administradores %}
		<form action="{% url 'eliminaAdmin' %}" id="eliminaCuentaAdmin" method="POST">
			{% csrf_token %}
			<table class="table table-striped">
			<tr>
				<td class="font-weight-bold">Rut:</td><td>{{a.rut}}</td>
				<td></td>
			
				<td class="font-weight-bold">Nombre:</td><td>{{a.nombre}}</td>
				<input type="hidden" name="rut" id="rut" value="{{a.rut}}">
				
			{%for u in usuario%}
				{% if a.rut == u.get_username %}
					{%if u.is_active%}
						<td>
							<input type="submit"  class="btn btn-primary" name="eliminar" value="Eliminar">
						</td>
						{%else%}
						<td>
							<input type="submit"  class="btn btn-primary" name="activar" value="activar">
						</td>
					{%endif%}
				{%endif%}
			{%endfor%}
				</tr>
		
		</table>
		</form>
		
		{% endfor %}
		
	</div>
</section>
<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}