{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}
<section id="home-head" class="work"></section>
<section id="main-content">
	
	<div class="text-intro">
		<h2>Cuentas</h2>
		{% ifnotequal mensaje '' %}
		<div class="alert alert-success" role="alert">
			{{mensaje}}
		</div>
		{% endifnotequal%}
	</div>

	<div class="columns">
	
	
		{% for em in empresas %}
		<table class="table table-striped">
			<tr>
				<td class="font-weight-bold">Rut:</td><td>{{em.rut}}</td>
				<td class="font-weight-bold">Nombre:</td><td>{{em.nombre}}</td>
				<td class="font-weight-bold">Tipo:</td><td>Empresa</td>
				<td class="font-weight-bold">Estado:</td><td>	
					{%if em.user.is_active == True %}
						Activa  
					{%else%}
						Inactiva
					{%endif%}
				</td>
				<td><input type="hidden"></td>
			</tr>
		</table>
		{%endfor%}


	{% for u in usu %}
		<table class="table table-striped">
			<tr>
				<td class="font-weight-bold">Rut:</td><td>{{u.rut}}</td>
				<td class="font-weight-bold">Nombre:</td><td>{{u.nombre}}</td>
				<td class="font-weight-bold">Tipo:</td><td>Usuario</td>
				<td class="font-weight-bold">Estado:</td><td>
					{%if u.user.is_active == True %}
						Activa  
					{%else%}
						Inactiva
					{%endif%}
				</td>
				<td><input type="hidden"></td>
			</tr><!--{{us.is_active}}-->
		</table>
	</div>
	{%endfor%}
</section>
<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}