{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}

<section id="home-head" class="work">
</section>
<section id="main-content">
	<div class="text-intro">
		<h2>Mis Eventos</h2>
		{% if messages %}
				{% for m in messages %}
				<div class="alert alert-success" role="alert">{{ m }}</div>
				{% endfor %}
			{% endif%}
	</div>
	<div class="columns">
	
		
		<br>
		<table class="table table-active">
			
			{% for r in reservas %}
			{% if 'Usuarios' ==  request.user.groups.all.0.name%} 
								
				<tr>
					<td class="font-weight-bold">N° de Ticket</td>
					<td>{{r.id_reserva}}</td>
				</tr>
				<tr>
					<td class="font-weight-bold">Nombre</td>
					<td>{{r.Evento.nombre}}</td></tr>
				<tr>
					<td class="font-weight-bold">Fecha</td>
					<td>{{r.Evento.fecha}}</td>
				</tr>
				<tr>
					<td class="font-weight-bold">Hora</td>
					<td>{{r.Evento.hora}}</td>
				</tr>
				<tr>
					<td class="font-weight-bold">Comuna</td>
					<td>{{r.Evento.comuna}}</td></tr>
				<tr>
					<td class="font-weight-bold">Dirección</td>
					<td>{{r.Evento.direccion}}</td></tr>
				<tr>
						<td class="font-weight-bold">Estado Evento</td>
						<td>{%if r.Evento.estado %}
						Activo
						{%else%}
						Inactivo
						{%endif%}</td></tr>
					<tr>
				
				<td class="font-weight-bold">Acciones</td>
					
					</td>
	           
					
	             <td><form  id="cancelarReserva" action="" method="POST">
	             	{% csrf_token %}
	             <input type="hidden" name="idreserva" id="idreserva" value="{{r.id_reserva}}">
	             <input class="btn btn-primary" type="submit" name="cancelarReserva" value="Cancelar Reserva">
	             	
	             </form>
					</td>
				</tr>
				<tr>
					<td class="table-light">-</td>	
					<td class="table-light">-</td>
				</tr>
				
			{%endif%}
			{% endfor %}

			
		</table>
		
	</div>
</section>
{% endblock %}