{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}	
{% ifnotequal mensaje '' %}
	<script type="text/javascript" >alert("{{mensaje}}")
    </script>
{% endifnotequal %}
	<section id="home-head" class="work">
	</section>
	<section id="main-content">
	  <div class="text-intro">
	    <h2>Cambiar Contraseña</h2>
	  </div>
	  <div class="columns">

	 <form method="POST" id="cambiaContrasena" action="">
	        {% csrf_token %}
	        Contraseña actual: <input type="password" name="actual" id="actual" required>
	        Contraseña nueva: <input type="password" name="contrasena1" id="contrasena1" required>
	        Repetir contraseña: <input type="password" name="contrasena2" id="contrasena2" required>
	        
	        
	        <input type="submit" value="Cambiar Contraseña">
	 </form>
	  </div>
	  	</section>
<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}