{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}

<section id="home-head" class="work">
</section>
<section id="main-content">
	<div class="text-intro">
		<h2>Usuarios Empresas</h2>
		{% ifnotequal mensaje '' %}
		
		<div class="alert alert-success" role="alert">
			 {{mensaje}}
			</div>
	 	
	 	{% endifnotequal%}
	</div>
	<div class="columns">
		{% for e in empresas %}
		<form action="{% url 'configuraEmpresa' %}" id="eliminaCuentaEmpresa2" method="POST">
			{% csrf_token %}
			<table class="table table-striped">
			<tr>
				<td class="font-weight-bold">Rut:</td><td>{{e.rut}}</td>
				<td></td>
			
				<td class="font-weight-bold">Nombre:</td><td>{{e.nombre}}</td>
				<input type="hidden" name="rut" id="rut" value="{{e.rut}}">
				
			{%for m in empresa%}
				{% if e.rut == m.get_username %}
					{%if m.is_active%}
						<td>
							<input type="submit"  class="btn btn-primary" name="eliminar" value="Eliminar">
						</td>
						{%else%}
						<td>
							<input type="submit"  class="btn btn-primary" name="activar" value="Activar">
						</td>
					{%endif%}
				{%endif%}
			{%endfor%}
				<td>
							<input type="submit"  class="btn btn-primary" name="modificar" value="Modificar">
						</td>
				</tr>
				
		
		</table>
		</form>
		
		{% endfor %}
		
	</div>
</section>
<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}