{% extends 'maqueta.html' %}
{% load staticfiles %}

{% block imagen %}

<section id="home-head" class="work">
  <h1>Eventos Santiago</h1>
  <h2>Tu mejor página de eventos</h2>
  </section>
{% endblock%}
{% block informacion %}
{% ifequal mensaje 'Desactivada' %}
  <script type="text/javascript" >alert("Tu cuenta se ha desactivado correctamente, para volver a activarla inicia sesión")
    </script>
  
{% endifequal %}
<section id="main-content">
  <div class="text-intro">
    <h2>Nosotros</h2>
  </div>
  <div class="columns features">
    <div class="one-third first">
      <h3>Quienes somos</h3>
      <p>
      somos las bacanes




      </p>
    </div>
    <div class="one-third">
      <h3>bla bla</h3>
      <p>Chuck venison short ribs, pork loin strip steak turducken chicken boudin doner tail cow pork chop spare ribs.</p>
      <p><a href="#" class="more">En savoir plus</a></p>
    </div>
    <div class="one-third">
      <h3>bla bla bla </h3>
      <p>Capicola prosciutto shankle frankfurter ham hock. Beef ribs t-bone rump, short ribs jerky turkey ham capicola pancetta filet mignon turducken boudin biltong venison shank.</p>
      <p><a href="#" class="more">En savoir plus</a></p>
    </div>
  </div>
</section>

{% endblock %}
