{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}	
{% ifnotequal mensaje '' %}
	<script type="text/javascript" >alert("{{mensaje}}")
    </script>
{% endifnotequal %}
	<section id="home-head" class="work">
	</section>
	<section id="main-content">
	  <div class="text-intro">
	    <h2>Iniciar Sesión</h2>
	  </div>
	  <div class="columns">

	 <form method="POST" action="">
	        {% csrf_token %}
	        {{ form.as_p }}
	        <input type="submit" value="Iniciar Sesión">
	 </form>
	 <a href="{% url 'recuperar' %}">¿Olvidaste tu contraseña?</a>
	  </div>
	  </div>
	</section>

{% endblock %}