{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}

<section id="home-head" class="work">
	</section>
	<section id="main-content">
	  <div class="text-intro">
	    <h2>Mi cuenta</h2>
	  </div>
	  <div class="columns">
{% for u in usuario %}
<table>
	<tr>
		<td>Rut:</td><td>{{u.Cuenta.rut}}</td>
	</tr>
	<tr>
		<td>Nombre:</td><td>{{u.Cuenta.nombre}}</td>
	</tr>
	<tr>
		<td>Fecha de nacimiento:</td> <td>{{u.fec_nac}}</td>
	</tr>
	<tr>
		<td>Correo:</td><td>{{u.Cuenta.correoAsociado}}</td>
	</tr>
	<tr>
		<td>Comuna:</td><td>{{u.Cuenta.comuna}}</td>
	</tr>
	<tr>
		<td>Fecha de registro:</td> <td>{{u.Cuenta.fecha_registro}}</td>
	</tr>

</table>
{% endfor %}
	
<form action="{% url 'actualizar' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}

                       
                        <input type="submit" name="actualizar" value="Actualizar Datos">
         </form>
      <form action="{% url 'eliminar' %}" id="eliminaCuenta" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="eliminar" value="Desactivar Cuenta">
         </form>
      <form action="{% url 'cambiarcontrasena' %}" method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" name="cambiarcontraseña" value="Cambiar Contraseña">
         </form>

	  </div>
	  </div>
	</section>


<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}