{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}	
	<section id="home-head" class="work">
	</section>
	<section id="main-content">
	  <div class="text-intro">
	    <h2>Reactivar Contraseña</h2>
	    {% if existe %}
		
		<div class="alert alert-success" role="alert">
 Tu cuenta fue reactivada con exito, ya puedes iniciar sesión
</div>
		
	 	{% else %}
	 	<div class="alert alert-danger" role="alert">
  Este link ya no es válido, si quieres volver a enviar un correo para reactivar tu cuenta, intenta entrar nuevamente con tus credenciales <a href="{% url 'ingresar'%}">aquí</a>
</div>
	 	
	 	{% endif%}
	  </div>
	 
	</section>

{% endblock %}