{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}	
{% ifnotequal mensaje '' %}
	<script type="text/javascript" >alert("{{mensaje}}")
    </script>
{% endifnotequal %}
	
		<section id="home-head" class="work">
		</section>
		<section id="main-content">
		  <div class="text-intro">
		    <h2>Cambiar Contraseña</h2>
		  </div>
		  <div class="columns">
{% if existe %}
		 <form method="POST" id="recuperaContrasena2" action="">
		        {% csrf_token %}
		        <label>Contraseña nueva: </label><input type="password" name="contrasena1" id="contrasena1" required placeholder="********" minlength="8" maxlength="16">
		        <label>Repetir contraseña:</label> <input type="password" name="contrasena2" id="contrasena2" required placeholder="********" minlength="8" maxlength="16">
		        <input type="submit" value="Cambiar Contraseña">
		 </form>
		 {% else %}
		Este link ya no es valido, si quieres recuperar contraseña nuevamente, hazlo <a href="{% url 'recuperar'%}">aquí </a>
	{% endif%}
		  </div>
		  </div>
		</section>

<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}