{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}	

	<section id="home-head" class="work">
	</section>
	<section id="main-content">
	  <div class="text-intro">
	    <h2>Recuperar Contraseña</h2>
	    {% ifnotequal mensaje '' %}
	    {% ifequal mensaje "No se encuentra el rut"%}
			<div class="alert alert-danger" role="alert" style="text-align: center;">
			 {{mensaje}}
			</div>
			{%else%}
				    <div class="alert alert-success" role="alert" style="text-align: center;">
			 {{mensaje}}
			</div>

	    {%endifequal%}

{% endifnotequal %}
	  </div>
	  <div class="columns">

	 <form method="POST" id="recuperaContrasena1" action="">
	        {% csrf_token %}
  				
	        		<label>Rut:</label>
	        		<input type="text" id="rut" name="rut" required placeholder="123456784" class="form-control" style="width: 50%;"><br>
	        	
	        <button type="submit" class="btn btn-primary" value="Enviar Correo">Enviar correo</button>
	 </form>
	  </div>
	  </div>
	</section>
<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}