{% extends 'maqueta.html' %}
{% load staticfiles %}
{% block informacion %}	
	<section id="home-head" class="work">
	</section>
	<section id="main-content">
	  <div class="text-intro">
	    <h2>Listado de empresas no activas</h2>
	    {% ifnotequal mensaje "" %}
		
		<div class="alert alert-success" role="alert">
			 {{mensaje}}
			</div>
	 	
	 	{% endifnotequal%}


	  </div>

	  {%if not cuentas %}
	 	 No hay solicitudes
	 	 
	 	 {%else%}
	 	 {%for c in cuentas %}
	 	 <table class="table table-striped">
	 		<form method="GET" action="{% url 'detalleEmpresa'%}">
	 			<tr>
	 				<td class="font-weight-bold">Nombre</td><td>{{c.nombre}}</td>
	 			</tr> 
	 			<tr>
	 				<td class="font-weight-bold">Fecha Registro</td> <td>{{c.fecha_registro}}</td>
	 			</tr>
	 			<tr>
	 				<td class="font-weight-bold">Comuna</td><td>{{c.comuna}}</td>
	 			</tr>
	 			
	 			<input type="hidden" name="rut" id="rut" value="{{c.rut}}">
	 			<tr>
	 				<td>
	 				<input type="submit" class="btn btn-primary" name="VerDetalles" value="Ver Detalles">	
	 				</td>
	 			</tr>
	 			 </form>
	 			</table>
	 			<br>
	
		 {% endfor%}
	 {%endif%}
	 
	 
	</section>
<script  src="{%static 'js/validaciones.js'%}"></script>
{% endblock %}